.Board {
  border: 1px solid black;
  /* padding: 16px 12px 12px 16px; */
  padding: 13px 10px 10px 13px;
  box-sizing: border-box;
  display: inline-block;
}

.Row {
  display: flex;
}

.Cell {
  box-sizing: border-box;
  display: inline-block;
  width: 24px;
  height: 24px;
}

.Cell[data-food="true"] {
  /* background: black; */
  background-image: url('../../assets/icons/heart.svg');
  border-radius: 30%;
  animation: heartbeat 500ms infinite alternate;
}

@keyframes heartbeat {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.2);
  }
}

.Cell[data-snake="true"] {
  background: black;
  border-radius: 30%;
}

@media only screen and (max-width: 600px) {
  .Board {
    padding: 10px 8px 8px 10px;
  }

  .Cell {
    width: 15px;
    height: 15px;
  }
}