@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@font-face {
  font-family: 'Equilibrium';
  src: url('./assets/fonts/CHE-EQUI.TTF')
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden; 
}

:root {
  font-family: 'Open Sans', sans-serif;

  --primaryMedium: #0DC5C1;
  --primary: #009688;
  --primaryDark: #00695C;
  --primaryLight: #A7FFEB;

  --accent: #C6FF00;  
  --accentDark: #AEEA00;
}